#root {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background-image: url(/images/bg7.jpg);
  /* background: rgba(240, 238, 234, 0.829); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* backdrop-filter: blur(1px); */
  backdrop-filter: brightness(0.7) blur(5px);


  height: 100%;
  width: 100%;
}

.gradient-text-white-gray {

  
  
 
  text-shadow: 3px 1px 2px black;
}
